@use './assets/config' as c;
@use './assets/art01';
@use './assets/art02';
@use './assets/art03';
@use './assets/artgrid';
@use './assets/artweb';
@use './assets/articon';
@use './assets/artJs';


header{
  height: 100dvh;
  background: linear-gradient(0deg, c.$color03,c.$color02);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}