@use 'config' as c;

.art02{
  width: 100%;
  padding: 0rem 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 2rem;
  @media only screen and (min-width: c.$tablet){
    padding: 2rem 0rem;
  }
  @media only screen and (min-width: c.$desktop){
    width: 80%;
    row-gap: 3rem;
  }
  >:nth-child(1){
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1.5rem;
    @media only screen and (min-width: c.$tablet){
      width: 80%;
    }
  }

  >:nth-child(2){
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 1.5rem;
    @media only screen and (min-width: c.$tablet){
      padding: 0rem 1.5rem;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      column-gap: 1.5rem; 
      row-gap: initial;
    }
    @media only screen and (min-width: c.$desktop){
      padding: initial;
    }
    >:nth-child(3){
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    p{
      filter: grayscale(0);
    }

    .item{
      width: 100%;
      aspect-ratio: 1/1; // para poner la foto cuadrada
      // height: calc(100dvw - 3rem); si hago este calc le tengo que poner la media query de height: 40dvh
      overflow: hidden;
      position: relative;

      display: flex;
      flex-direction: column;
      
      justify-content: center;

/*    @media only screen and (min-width: c.$tablet){
        height: 40dvh; 
      } */
       &:hover{
        >:nth-child(1){
          transition: 1s;
          transform: translate(-50%, -200%);
          @media only screen and (min-width:c.$tablet){
            transform: translate(-50%, -140%);
          }
        }
        
        p{
          transition: 1s;
          filter: opacity(1);
        }
        
        img{
          filter: grayscale(1);
          transform: scale(1.2);
          transition: 1s;
        }
       }

      >:nth-child(1){
        position: absolute;
        z-index: 100;
        text-align: center;
        // para llevar al medio la caja absolute, poner position relative a su padre.
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 1s; 
        text-shadow: 0 0 15px rgba(0, 0, 0, 0.649);
      }

      p{
        background-color: rgba(255, 255, 255, 0.781);
        position: absolute;
        z-index: 200;
        transform: translateY(30%);
        transition: .5s;
        filter: opacity(0);
        padding: 1.5rem 2rem;
        backdrop-filter: blur(2px);
      }

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: grayscale(0);
        transition: 1s;
      }
    }
  }

}