*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Bitcount';
  src: url('./assets/BitcountGridSingle-ExtraLight.ttf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('./assets/Montserrat-Light.ttf');
}

$tablet:800px;
$desktop:1300px;

$fuentetext: Montserrat;
$fuentetitulo01: Bitcount;

$color00: rgb(39, 39, 39);
$color01: aliceblue;
$color02: #00c7a9;
$color03: #0e3e90;

header, nav, main, footer, section{
  width: 100%;
}

h1{
  font-family: $fuentetitulo01;
  font-size: clamp(2rem, 5vw, 6rem);
  color: $color01;
  @media only screen and (min-width: $tablet){
    color: $color03;
  }
  @media only screen and (min-width: $desktop){
    color: $color00;
  }
}

h2{
  font-family: $fuentetitulo01;
  font-size: clamp(2.5rem, 5vw, 3rem);

}
p{
  font-family: $fuentetext;
  color: $color00;

}

h3{
  font-family: $fuentetext;
  font-size: clamp(2rem, 3vw, 3.5rem);
  color: $color03;
  font-weight: 700;
}

h4{
  font-family: $fuentetext;
  font-size: clamp(2rem, 2.5vw, 3rem);
  color: $color01;
  font-weight: 600;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  padding: 2rem 0rem;
  @media only screen and (min-width: $tablet){
    padding: 4rem 0rem;
  }
}

.boton{
  text-decoration: none;
  padding: 1rem 3rem;
  background-color: $color02;
  border-radius: 5px;
  color:$color01;
  transition: 1s;
  font-family: $fuentetext;
  font-weight: 600;
  &:hover{
    background-color: $color01;
    color: $color02;
  }
  @media only screen and (min-width: $tablet){
    color: $color03;
  }
  @media only screen and (min-width: $desktop){
    color: $color00;
  }
}

